* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.hero_section {
    background: url(images/heroSectionBackground.png); /* Adjust the path as needed */
    background-position: center;
    background-size: cover;
    color: white;
    min-height: 60vh;

}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 48px;
    height: 60px;
    
}

.navbar a{
    text-decoration: none;
    color: white;
    /* font-weight: 300; */
}

.navbar__menu_conatiner{

    display: flex;
    gap: 20px;

}

.user__icon{
    height: 30px;
    width: 30px;
    border-radius: 100%;
    border: solid 1px white;
    align-items: center;
    justify-content: center;
    display: none;
}






/* hero section container */

.hero__section_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(60vh -60px);
    gap: 32px;
}

.hero__section_logo{
    width: 250px;
    height: auto;
}

.hero__section_title{
    text-align: center;
    font-size: 30px;
    font-weight: 300;

}

.hero__section_input_container{
    background: white;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-items: center;
    width: 50%;

}

.input__container_location ,
 .input__container_search{
    padding: 5px;
    border: none;
    outline: none;

}

.input__container_search{
    border-left: 2px solid #a69d9d;
    width: 65%;
}

.input__container_location{
    width: 35%;
}


@media only screen and (max-width: 600px) {
    .navbar__menu_conatiner .link{
        display: none;
    }

    .user__icon{
        display: flex;
    }

    .navbar{
        padding: 16px;

    }

    .hero_section{
        min-width: 80vh;
    }

    .hero__section_input_container{
        flex-direction: column;
        background-color: transparent;
        width: 100%;
    }

    .input__container_location, .input__container_search{
        padding: 15px;
        border-radius:10px;
        width: 80%;
    

    }
    .hero__section_container{
        height: calc(80vh -60px);
    }
    
}

/* Section Second */

.container{
    margin: 48px auto;
    width: 80%;
}

.we__offer {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.we__offer .card{
    border-radius: 10px ;
    overflow: hidden;
    border: 1px solid #e0e0ee;
    transition: all 300m ease-in-out;
    
}
.we__offer .card img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: center;

}

.we__offer .card h2{
    padding: 10px 10px 0px 10px;
    font-size: 15px;
    font-weight: 400;
   

}

.we__offer .card p{
    font-size: 10px;
    padding: 0px 10px 15px 10px;
}

.we__offer .card:hover{
    transform: scale(1.05);
}


/* Third section */
.collections{
    font-weight: 400;
}

.collections .sub__heading_container{
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

.sub__heading_container span:nth-child(2){
    color: #ff7e8b;
    font-size: 13px;
}

.collections_card_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 24px;
}


.collections_card_container .card{
    height: 300px;
    min-width: 240px;
    background-size: cover;
    background-position: center;
    position: relative;

}

.card1{
    background-image: url('images/collection1.jpg');
}

.card2{
    background-image: url('images/collection2.jpg');
}

.card3{
    background-image: url('images/collection3.jpg');
}

.card4{
    background-image: url('images/collection4.jpg');
}

.overlay{
    background: linear-gradient(
        0deg,
        rgba(0,0,0,0.9) 0%,
        rgba(0,0,0,0.5) 50%,
        rgba(0,0,0,0.5) 85%,
    );
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;

}

.collections_card_container .card .content{
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    padding: 12px 16px;
    font-size: 14px;
}

.content h4{
    font-weight: 400;
}